body {text-align:center;	
  margin: 0px;
  padding: 2px;
  font:100% Arial,Helvetica,sans-serif;  
  overflow:auto;}
.tablem {
     margin: 0 auto;
	border:1px;
	text-align:center;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    border-collapse: collapse;

  }
.tablem, th, td
{
border: 1px solid #777777;
border-collapse: collapse;
}
.disbox { 
	height:25px;
	width:100px;
	color: #000000;
	text-align: right;
	border: 1px solid #777777;
	border-collapse: collapse;
	padding-right: 5px;
	}

.threefr { 
	height:25px;
	width:400px;
	color: #000000;
	text-align: left;
	padding-left: 5px;
	}

.onefr { 
	height:25px;
	width:100px;
	color: #000000;
	border: 1px solid #777777;
	border-collapse: collapse;
	}
.inpbox { 
	height:100%;
	width:94%;
	color: #000000;
	text-align: right;
	border : none;
	}
.inpbox:focus {background-color: #F5F5F5;}

.inpbox3 { 
	height:100%;
	width:94%;
	color: #000000;
	text-align: right;
	border : none;
	background-color: #F5F5F5;
	}
.inpbox3:focus {background-color: #FFFFFF;}
.inpboxl { 
	height:100%;
	width:94%;
	color: #000000;
	text-align: left;
	border : none;
	}
.inpboxl:focus {background-color: #F5F5F5;}
.inpbox2 { 
	height:100%;
	width:94%;
	color: #000000;
	text-align: left;
	border : none;
	background-color: #F5F5F5;
	}
.inpbox2:focus {background-color: #FFFFFF;}
.long { 
	height:25px;
	width:700px;
	color: #000000;
	text-align: left;
	padding-left: 5px;
	}
/* Popup container - can be anything you want */
.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 600px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}